 .banner1 {
    background-color: bisque; 
    color: rgb(11, 12, 13);
    margin-top: 100px;
    text-align: center;
    padding: 100px 0;
 }
 .banner4 {
  background-color: bisque; 
  color: rgb(11, 12, 13);
  margin-top: 40px;
  text-align: center;
  padding: 70px 0;
}
.banner5 {
  background-color: bisque; 
  color: rgb(11, 12, 13);
  margin-top: 40px;
  text-align: center;
  padding: 2px 0;
}
 #main-pic {
   height: 300px;
   width: 300px; 
  }

 .bold {
  font-weight: 600;
  font-size: xx-large
  }  
  .bold2 {
    font-weight: 600;
    font-size: x-large
    }  

  .head {
    font-weight: 700;
    font-size: 100px
  }

  .regular {
    font-weight: 450;
    font-size: large
    }
  
  #banner2 {
   color: blueviolet; 
   font-size: 30px;
   text-align: center; 
   padding: 100px 0;
  }

  .banner3 {
    background-color: bisque; 
    color: rgb(11, 12, 13);
    margin-top: 50px;
    text-align: center;
    padding: 70px 0;
  }

  .main-text1 {
  color: black;
  font-size: x-large;
  margin-bottom: 50px;
  align-items: center;
}